pandas
numpy
scikit-learn
catboost
lightgbm
xgboost
mlflow
dvc
great-expectations
matplotlib
seaborn
joblib
python-dotenv
pytest
jupyter
ipykernel
fastapi
uvicorn
pydantic
boto3
sqlalchemy
pg8000
psycopg2-binary
evidently
shap
prometheus-client
requests